{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container bg-light rounded pt-2 pb-3 mb-4 col-lg-6 col-12 shadow">
    <div class="accordion" id="createAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="fs-4">Create a Post</span>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#createAccordion">
                <div class="accordion-body">
                    <form method="post" action="/">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group mb-3">
                                {{ form.title.label(class="form-control-label") }}
                                {% if form.title.errors %}
                                {{ form.title(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.content.label(class="form-control-label") }}
                                {% if form.content.errors %}
                                {{ form.content(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.content(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group mt-2">
                            {{ form.submit(class="btn btn-success") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% for post in posts.items %}
<div class="card mb-3 mx-auto col-lg-6 col-12 shadow">
    <div class="card-body">
        <div class="row row-cols-2">
            <div class="col-9">
                <h5 class="card-title fs-5"><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted fs-6">By: <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></h6>
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="col-3 text-end">
                <img class="rounded-circle border border-dark shadow"
                    src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                    style="width:60px;height:60px" alt="{{ post.author.username }}">
            </div>
            <div class="col-4 align-self-end">
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <div class="col-8">
                {% if post.author == current_user %}
                <br>
                <div class="d-inline-block float-end">
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete_confirm">Delete
                        Post</button>
                </div>
                <div class="modal fade" id="delete_confirm" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delete_confirm">Confirm deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete your post? There is no way to recover a deleted post.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                                    <input type="submit" class="btn btn-danger" value="I'm sure">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="text-center">
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if posts.page == page_num %}
            <a class="btn btn-dark" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-light" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
    <span class="mx-4">...</span>
    {% endif %}
{% endfor %}
</div>
{% endblock content %}